header h1 {
	text-align: center;
	margin: 0.3em;
}

ul {
	margin: 0;
	padding: 0;
}

button { 
	padding: 0.5em;
	border-radius: 5px;
	text-align: center;
	border: 1px solid darkGrey;
	background: #E9E9E9;
	font-weight: bold;
}

button:active {
	background: #D8D8D8;
}

.addTabButton {
	padding: 0.3em 0.5em 0.3em 0.5em;
}

.flex-box {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}

.modelArea, .sideBar {
	overflow: scroll;
}

footer, .fileTabBar {
	min-width: 915px;
}

.modelArea, .sideBar, footer, .fileTabBar {
	background-color: #D9D9D9;
	position: relative;
	border-radius: 10px;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.modelArea {
	min-width: 600px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
	height: 450px;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

footer, .fileTabBar, .sideBar {
	padding: 0.4em 0.5em 0.4em 0.5em;
}

.sideBarSepperator {
	width: 15px;
	cursor: ew-resize;
}

.sideBar {
	width: 300px;
	min-width: 300px;
	max-width: 500px;
}

.filesList {
	display: inline-block;
}

.fileTab {
	display: inline-block;
	margin: 0em 0.3em 0em 0.3em;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 5px;
	text-align: center;
	border: 1px solid darkGrey;
	background: #E9E9E9;
	max-width: 100px;
	width: 0px;
	overflow: hidden;
	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	transition: width .5s linear;
	cursor: pointer;
}

.fileTab:active {
	background: #D8D8D8;
}

.fileTab.transitioned {
	width: 100px;
}

.fileTab.active {
	font-weight: bold;
}
