ul {
	margin: 0;
}

.hidden {
	display: none;
}

.mainContent {
	margin: auto;
	width: 90%;
	height: 600px;
}

.editorContainer {
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
	border-radius: 5px;
	padding: 5px;
}

.footerToolbar {
	height: 50px;
}

.sideBarSepperator {
	width:5px;
	cursor: move;
	display: inline-block;
	height: 450px;
}

.modelArea, .sideBar, .footerToolbar {
	background-color: #D9D9D9;
	position: relative;
	border-radius: 10px;
	padding: 10px;
}

.modelArea, .sideBar {
	height: 450px;
	overflow: scroll;
	display: inline-block;
}

.entity {
	position: absolute;
	width: 150px;
	background-color: #D8D8D8;
	border: 1px solid #444;
	border-radius: 6px;
	z-index: 2;
}

.attributes {
	border-bottom: 1px solid #444;
}

.entity .title {
	width: 100%;
	text-align: center;
	background-color: #8EF;
	border-radius: 6px 6px 0px 0px;
}

.selected .title {
	background-color: #FE8;
}

.entity .attributes, .entity .relationships {
	padding: 2px;
}

.attributes > ul, .relationships > ul {
	list-style-type: none;
	padding: 2px;
	margin-left: 10px;
}

.lineContainer {
	position: absolute;
	height: 5px;
	margin-top: -2px;
}

.lineContainer:hover {
	background-color: rgb(51, 255, 102);
	background-color: rgba(51, 255, 102, 80);
}

.line {
	background-color: #000;
	height: 1px;
	margin-top: 2px;
	width: 100%;
	/*position: absolute;*/
}

.editableInput {
	background-color: transparent;
	border: 1px solid black;
	padding: 0;
}

.ui-corner-all {
	border-radius: 6px;
}

.ui-dialog-titlebar {
	position: relative;
	background-color: #E9E9E9;
	padding: .4em 1em;
}

.ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
}

.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0;
}

.ui-widget-overlay-fade-in {
	-webkit-transition: opacity 0.5s ease-in;
	opacity: 0.8;
}

.ui-dialog {
	background-color: #D8D8D8;
}

.ui-dialog .ui-dialog-content {
	padding: 0.5em 1em;
}

.button {
	border-radius: 6px;
	padding: .1em .5em;
	background: #C0C0C0;
	margin: 0em .4em;
}

.buttonWrap {
	position: absolute;
	bottom: .5em;
	right: .5em;
}

@-webkit-keyframes defaultAction {
	0%, 100% {
		background: #07A3CB;
	}
	50% {
		background: #2949AA;
	}
}

#defaultAction {
	background: #07A3CB;
	-webkit-animation: defaultAction 1.2s infinite;
}

.fileProgress {
	width: 100%;
}
