.entity {
	position: absolute;
	width: 150px;
	background-color: #D8D8D8;
	border: 1px solid #444;
	border-radius: 6px;
	z-index: 2;
}

.entity.selected .title {
	background-color: #FE8;
}

.attributes {
	border-bottom: 1px solid #444;
}

.entity .title {
	width: 100%;
	text-align: center;
	background-color: #8EF;
	border-radius: 6px 6px 0px 0px;
}

.entity .attributes, .entity .relationships {
	padding: 2px;
}

.attributes > ul, .relationships > ul {
	list-style-type: none;
	padding: 2px;
	margin-left: 10px;
}
